@using FormData.DataLayer
@model Customer
@{
	ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="well">
	@using(Html.BeginForm())
	{

	}
</div> 
<div class="font-md">
	<a href="~/Home/Index">
		<i class="fa fa-home"></i> Home
	</a>
</div>