@{
        ViewBag.Title = "Products";
}

<h2 class="display-1">@ViewBag.Title</h2>

<div class="card-deck">
    @foreach(var product in ViewBag.Products)
    {
        <div class="card bg-primary">

        </div>
    }
</div>