@{
    ViewBag.Header = "Balloon Order Form";
    ViewBag.SubHeader = "Order balloons below.";
}

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <input type="checkbox" id="checkAll" />
        </div>
    </div>
    <div class="input-group-append">
        <div class="input-group-text">Toggle All</div>
    </div>
</div>

<form action="@Url.Action("ViewCart", "Home")" method="post">
    @foreach(string color in ViewBag.Colors)
    {
        <div class="input-group form-check mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name=@(color + "Check") id=@(color + "Check") data-toggle=@(color + "Balloon") />
                </div>
            </div>
            <input type="number" class="form-control" value="0" min="0" name=@(color + "Count")>
            <div class="input-group-append">
                <div class="input-group-text">@color</div>
            </div>
        </div>
    }
    <button type="submit" class="btn btn-primary mb-3"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
</form>

@foreach(string color in ViewBag.Colors)
{
    <img src=@("../Content/balloons/" + color + ".png") class="balloons" id=@(color + "Balloon") data-toggle=@(color + "Check") />
}

@section scripts
{
    <script>
        $(function () {
            $('#checkAll').on('change', function () {
                $('input[type="checkbox"]').prop('checked', $(this).prop('checked'));
                $('.balloons').css('display', $(this).prop('checked') ? 'inline' : 'none');
            });

            $('input[type="checkbox"]').on('change', function () {
                if (!($(this).prop('checked')))
                    $('#checkAll').prop('checked', false);

                var ball = $('#' + $(this).data('toggle'));
                if ($(this).prop('checked'))
                    ball.show();
                else
                    ball.hide();
            });

            $('.balloons').on('click', function () {
                $('#' + $(this).data('toggle')).prop('checked', false);
                $('#checkAll').prop('checked', false);
                $(this).hide();
            });
        });
    </script>
}